#headerwrap {
  min-height: 40rem;
  width: 100%;
  margin-top: -3rem;
  background: url('/pic/bg_in_the_mountains.jpg') no-repeat center center;

  /* for pretty image displaying at any screen resolution */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    font-size: 3.2em;
    margin-top: 17rem;
    letter-spacing: 0.15em;
    color: #DDECF7;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: 0.75em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

}

.annotation {
  background: #09363e;

}