$footer-shadow-color: #081219 !default;

.footer {
  background: $gray-800;
  box-shadow: 0px 0px 3.5em 0.3em $footer-shadow-color, inset 0px 0px 6em 0.1em $footer-shadow-color;

  .caption {
    color: $gray-300;
  }

  & &-social {
    transform: scale(1);
    transition-duration: 700ms;

    &:hover, &:focus {
      color: white;
      transform: scale(1.5);
      transition-duration: 300ms;
      text-shadow: 0.2em 0.2em 0.3em $footer-shadow-color;
    }
  }
}


