.left-corner {
  &-container {
    position: absolute;
    left: 1em;
    width: calc(100% - 2em);
    padding: 0;

    & :focus {
      outline-width: 0;
    }
  }

  &-item {
    overflow: hidden;
    height: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  &-btn-first {
    position: absolute;
    left: -0.2em;
    top: -0.085em;
  }
}

.corner-container {
  &-btn {
    height: 2em;
    width: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    border: none;
    border-radius: 2em; /*Transform the square into rectangle, sync that value with the width/height*/

    &-face {
      background-color: #6FB583;
      cursor: pointer;

      color: white;
      z-index: 100;
      transition: all 0.5s;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    &-background {
      z-index: 10;
      background-color: $main-background;
    }
  }

  &-input {
    position: relative;
    width: 80%;
    z-index: 1;
    left: 2.5em;
  }

  &-active &-btn-face {
    opacity: 1;
  }
}




