$logo-color : #ffffe5;
$logo-color-hover : #e3fde3;

.navbar-brand {
  &:focus .logo-background,
  &:hover .logo-background {
    transform: scale(1, 1.65);
    transition-duration: 300ms;
  }

  &:focus .logo,
  &:hover .logo {
    color: $logo-color-hover;
  }

  &:focus a,
  &:hover a {
    text-decoration: none;
  }
}

.logo {
  color: $logo-color;
  font-family:  'PT Serif', 'Crimson Text', serif;
  font-weight: 900;
  font-size: 4.2rem;
  overflow: hidden;
  position: relative;

  height: 4rem;
  width: 5.7rem;

  top: 0;
  z-index: 30;

  .capitalLetter {
    position: relative;
    top: -1.25rem;
    left: -6.75rem;
    z-index: 40;
  }

  .pond {
    position: relative;
    font-size: 0.6em;
    top: -1.28rem;
    left: -9.2rem;
    letter-spacing: -0.06em;
    z-index: 40;
  }

  .photo {
    position: relative;
    top: -2.7rem;
    left: -12.7rem;
    font-size: 0.23em;
    z-index: 40;
  }
}

.logo-background {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: 90%;
  width: 100%;
  //left: 5%;
  top: 5%;

  background-color: $main-background;
  z-index: 30;
}