.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0,0,0,0.2);
}

.btn-twitter:hover {
  color: #fff;
  background-color: #2795e9;
  border-color: rgba(0,0,0,0.2);
}

.btn-social {
  position: relative;
  padding-left: 3em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-social>:first-child {
  position: absolute;
  left: 0;
  top: 0.1em;
  bottom: 0;
  width: 1.7em;
  line-height: 34px;
  font-size: 1.4em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}