<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head th:replace="fragments/profiles/activeProfile :: head (pageTitle = 'PhotoPond - start page')">
    <title>PhotoPond - start page</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/photopond.css">
</head>

<body>

<div th:replace="fragments/header :: header('startPage')">Static header</div>

<div class="container-fluid">

    <div class="row text-center px-0">
        <div id="headerwrap">
            <div class="col-md-8 offset-md-2 col-12">

                <h1 class="font-weight-bold">
                    PhotoPond<br>
                    <span th:text="#{pages.index.headerwrap.brand}">is awesome</span>
                </h1>
                <h2 th:text="#{pages.index.headerwrap.description}">
                    The best place to store your pictures
                </h2>

            </div>

        </div>
    </div>
</div>

<div class="container-fluid annotation pt-5 pb-3">
    <div class="row text-center justify-content-center">
        <div class="col-md-3 col-5">
            <i class="fa fa-cloud"></i>
            <h4 th:text="#{pages.index.annotation.cloud.title}">Cloud</h4>
            <p th:text="#{pages.index.annotation.cloud.body}">
                Keep your pictures in PhotoPond. Save and share with friends.
            </p>
        </div>
        <div class="col-md-3 col-5 ">
            <i class="fa fa-heart"></i>
            <h4 th:text="#{pages.index.annotation.design.title}">Design</h4>
            <p th:text="#{pages.index.annotation.design.body}">
                Responsive design using Bootstrap. It looks great on any monitor.
            </p>
        </div>
        <div class="col-md-3 col-5">
            <i class="fa fa-trophy"></i>
            <h4 th:text="#{pages.index.annotation.helpful.title}">Helpful</h4>
            <p th:text="#{pages.index.annotation.helpful.body}">
                User friendly intuitive interface. PhotoPond is simple and easy to use.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid predefined-accounts pt-5 pb-3">
    <div class="row text-center justify-content-center align-items-center">
        <div class="col-12">
            <h3 th:text="#{pages.index.accounts.title}">Predefined accounts</h3>
        </div>
        <div class="col-10 col-md-9 col-lg-6">
            <p th:text="#{pages.index.accounts.body}">
                If you do not want to create an account, you can use one of the predefined accounts to test PhotoPond.
                For these accounts is not allowed to change the password or role.
            </p>
        </div>
        <div class="col-10 col-md-9 col-lg-3 pt-2 pt-lg-0">
            <table class="table table-sm table-striped table-dark text-light">
                <thead>
                <tr>
                    <th scope="col" class="align-middle" th:text="#{user.login}">Login</th>
                    <th scope="col" class="align-middle" th:text="#{user.password}">Password</th>
                    <th scope="col" class="align-middle" th:text="#{user.role}">Role</th>
                </tr>
                </thead>
                <tbody class="font-italic">
                <tr>
                    <td>Admin</td>
                    <td>password</td>
                    <td>ADMIN</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>useruser</td>
                    <td>USER</td>
                </tr>
                <tr>
                    <td>nonActiveUser</td>
                    <td>password</td>
                    <td>DEACTIVATED</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer" th:remove="tag"></div>

<div th:replace="fragments/profiles/activeProfile :: bottomScripts" th:remove="tag">
    <!-- jQuery -->
    <script src="../../libs/jquery/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../libs/popper/popper.1.14.3.min.js"></script>
    <script src="../../libs/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../libs/vuejs/vue-2.5.16.js"></script>
</div>

</body>
</html>