<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/profiles/activeProfile :: head (pageTitle = #{authPages.title})">
    <title>PhotoPond - authorization</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - authorization</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <script src="../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/skins/default-skin.min.css">
</head>

<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }
</script>
<body>
<object th:include="fragments/header :: header('login')" th:remove="tag"></object>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header card-info text-center">
                    <h2 class="card-title font-weight-bold"
                        th:text="#{authPages.card.header}">
                        Authorization
                    </h2>
                </div>
                <div class="card-block">
                    <form class="form" th:action="@{/j_spring_security_check}" method="POST">
                        <div class="form-group">
                            <label for="j_login" class="control-label"
                                   th:text="#{user.login}">
                                Login
                            </label>
                            <input class="form-control" type="text"
                                   placeholder="Login" th:placeholder="#{user.login}"
                                   id="j_login" name="j_login">
                        </div>
                        <div class="form-group">
                            <label for="j_password" class="control-label"
                                   th:text="#{user.password}">
                                Password
                            </label>
                            <input class="form-control" type="Password"
                                   placeholder="Password" th:placeholder="#{user.password}"
                                   id="j_password" name="j_password">
                        </div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-success form-control col-8 offset-2"
                                    th:text="#{btn.logIn}">
                                Log In
                            </button>
                        </div>
                    </form>
                    <form class="form">
                        <div class="form-group text-center">
                            <span th:text="#{authPages.noAccount}">Don’t have an account?</span>
                            <a th:href="@{/registration}"
                               th:text="#{btn.registration}">
                                Sing up
                            </a>
                        </div>
                        <div class="form-group row">
                            <div class="col-8 offset-2 p-0 border-0">
                                <a class="btn btn-block btn-social btn-facebook"
                                   th:href="@{${T(ua.kiev.prog.photopond.facebook.FBRequestMappingConstants).AUTHENTICATION_WITH_FACEBOOK_URL}}">
                                    <i class="fab fa-facebook"></i>Log in with Facebook
                                </a>
                                <!--/*@thymesVar id="fbAuthError" type="java.lang.String"*/-->
                                <div class="col-12" th:if="${fbAuthError}">
                                    <div th:text="${fbAuthError}">Facebook authorization error!</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-control col-8 offset-2 p-0 border-0">
                                <a class="btn btn-block btn-social btn-twitter"
                                   th:href="@{${T(ua.kiev.prog.photopond.twitter.TwitterRequestMappingConstants).AUTHENTICATION_WITH_TWITTER_URL}}">
                                    <i class="fab fa-twitter"></i> Log in with Twitter
                                </a>
                                <!--/*@thymesVar id="twitterAuthError" type="java.lang.String"*/-->
                                <div class="col-12 b-0" th:if="${twitterAuthError}">
                                    <div th:text="${twitterAuthError}">Twitter authorization error!</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/profiles/activeProfile :: bottomScripts" th:remove="tag">
    <!-- jQuery -->
    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../libs/vuejs/vue-2.5.16.js"></script>
</div>

</body>
</html>