<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{auth.title}">PhotoPond - authorization</title>
    <object th:include="fragments/head :: head" th:remove="tag"/>
</head>
<body>
<object th:include="fragments/header :: header" th:remove="tag"/>

<div class="container-fluid">
    <div class="form-group">
        <div class="col-md-8 offset-md-2">
            <form class="form-horizontal" action="/j_spring_security_check" method="POST">
                <div class="form-group">
                    <label for="j_login" class="control-label" th:text="#{auth.login}">Login</label>
                    <input class="form-control" type="text" placeholder="Login" th:placeholder="#{auth.login}" id="j_login" name="j_login">
                </div>
                <div class="form-group">
                    <label for="j_password" class="control-label" th:text="#{auth.password}">Password</label>
                    <input class="form-control" type="Password" placeholder="password" th:placeholder="#{auth.password}" id="j_password" name="j_password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default form-control">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>