<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head th:replace="fragments/profiles/activeProfile :: head (pageTitle = 'PhotoPond - registration page')">
    <title>PhotoPond - start page</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <script src="../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/skins/default-skin.min.css">
</head>

<body>

<div class="container">

    <!--/*@thymesVar id="registrationForm" type="ua.kiev.prog.photopond.user.registration.RegistrationForm"*/-->
    <form action="#" th:action="@{/registration}" th:object="${registrationForm}" method="post">
        <table>
            <td th:if="${#fields.hasErrors('userInfo')}" th:errors="*{userInfo}" style="visibility: hidden">UserInfo error</td>
            <div th:field="*{userInfo}">
                <tr>
                    <td>Login:</td>
                    <td><input type="text" th:field="*{userInfo.login}"/></td>
                    <td th:if="${#fields.hasErrors('userInfo.login')}" th:errors="*{userInfo.login}">Login Error</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{userInfo.password}"/></td>
                    <td th:if="${#fields.hasErrors('userInfo.password')}" th:errors="*{userInfo.password}">Password Error</td>
                </tr>
            </div>
            <tr>
                <td>Password confirmation:</td>
                <td>
                    <input type="text" th:field="*{passwordConfirmation}" /></td>
                    <td th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">Password and confirmation are different</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>

</div>

<div th:replace="fragments/profiles/activeProfile :: bottomScripts" th:remove="tag">
    <!-- jQuery -->
    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../libs/vuejs/vue-2.5.16.js"></script>
</div>

</body>
</html>