<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head>

    <title>PhotoPond - registration page</title>
    <object th:include="fragments/head :: head" th:remove="tag"/>
</head>
<body>

<div class="container">

    <!--/*@thymesVar id="registrationForm" type="ua.kiev.prog.photopond.user.registration.RegistrationForm"*/-->
    <form action="#" th:action="@{/registration}" th:object="${registrationForm}" method="post">
        <table>
            <td th:if="${#fields.hasErrors('userInfo')}" th:errors="*{userInfo}" style="visibility: hidden">UserInfo error</td>
            <div th:field="*{userInfo}">
                <tr>
                    <td>Login:</td>
                    <td><input type="text" th:field="*{userInfo.login}"/></td>
                    <td th:if="${#fields.hasErrors('userInfo.login')}" th:errors="*{userInfo.login}">Login Error</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{userInfo.password}"/></td>
                    <td th:if="${#fields.hasErrors('userInfo.password')}" th:errors="*{userInfo.password}">Password Error</td>
                </tr>
            </div>
            <tr>
                <td>Password confirmation:</td>
                <td>
                    <input type="text" th:field="*{passwordConfirmation}" /></td>
                    <td th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">Password and confirmation are different</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>