<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head th:replace="fragments/head :: head (pageTitle = 'UserFolders')">
    <title>PhotoPond - authorization</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <script src="../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/skins/default-skin.min.css">

</head>

<body>
<object th:include="fragments/header :: header" th:remove="tag"/>
<script src="../../js/userDirectory.js" th:src="@{/js/userDirectory.js}"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!--/*@thymesVar id="content" type="ua.kiev.prog.photopond.drive.Content"*/-->
            <!--/*@thymesVar id="userLogin" type="java.lang.String"*/-->
            <form style="display: none;"
                    th:action="@{'/user/{login}/files'+${content.getCurrentDirectory().getPath()} (login=${userLogin})}"
                    method="POST" enctype="multipart/form-data">

                <input type="file" placeholder="add picture" id="files" name="files" multiple>
                <button type="submit" id="uploadFilesButton">Create</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row">

                <!-- ADD DIRECTORY FORM -->
                <div class="modal fade" id="addDirectoryForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!--/*@thymesVar id="content" type="ua.kiev.prog.photopond.drive.Content"*/-->
                            <!--/*@thymesVar id="userLogin" type="java.lang.String"*/-->
                            <form th:action="@{'/user/{login}/drive'+${content.getCurrentDirectory().getPath()} (login=${userLogin})}"
                                  method="POST">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addDirectoryModalLabel">New directory</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                        <div class="form-group">
                                            <label for="addDirectoryName" class="col-form-label">New name:</label>
                                            <input type="text" class="form-control" id="addDirectoryName" name = "newDirectoryName">
                                        </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="addDirectoryButton">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- RENAME ELEMENT FORM -->
                <div class="modal fade" id="renameElementForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rename</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="nameAfterRename" class="col-form-label">New name:</label>
                                        <input type="text" class="form-control" id="nameAfterRename">
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="renameButton">Rename</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <button class="btn-primary btn-block" id="uploadFiles">Add file</button>
                </div>
                <div class="col-12">
                    <button class="btn-primary btn-block" id="addDirectory">Add directory</button>
                </div>
                <div class="col-12">
                    <button class="btn-primary btn-block" id="deleteElement">Delete</button>
                </div>
                <div class="col-12">
                    <button class="btn-primary btn-block" id="renameElement">Rename</button>
                </div>
            </div>
            <!--<input type="file" placeholder="add picture" id="uploadFiles" multiple>-->
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!--Path to breadcrumb-->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row align-items-start">
                                        <div class="col-12">
                                            <!--/*@thymesVar id="content" type="ua.kiev.prog.photopond.drive.Content"*/-->
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item secondary-color" th:each="parent:${content.getParents()}">
                                                    <!--/*@thymesVar id="userLogin" type="java.lang.String"*/-->
                                                    <a href="#" th:href="@{'/user/{login}/drive'+${parent.getPath()}(login=${userLogin})}"
                                                       th:text="${parent.getNameToBreadcrumb()}">parent
                                                    </a>
                                                    <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                                                </li>
                                                <li class="breadcrumb-item primary-color active"
                                                    th:text="${content.getCurrentDirectory().getNameToBreadcrumb()}">
                                                    current
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Print subdirectories-->
                        <!--/*@thymesVar id="content" type="ua.kiev.prog.photopond.drive.Content"*/-->
                        <div class="row" th:if="${not content.getTopSubDirectories().isEmpty()}">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12"><h3>Directories:</h3></div>
                                    </div>
                                    <div class="row">
                                        <!--/*@thymesVar id="content" type="ua.kiev.prog.photopond.drive.Content"*/-->
                                        <div th:each="subDir:${content.getTopSubDirectories()}" th:remove="tag">
                                            <div class="col-3 userElementCard">
                                                <div class="card userElement">
                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <!--/*@thymesVar id="userLogin" type="java.lang.String"*/-->
                                                            <i class="fa fa-folder" style="color: #f0cb58"> </i>
                                                            <a href="#"
                                                               th:href="@{'/user/{login}/drive'+${subDir.getPath()}(login=${userLogin})}"
                                                               th:text="${' ' +subDir.getName()}" th:data-name="${subDir.getName()}"
                                                               class="contentSrc">subDir</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Print Pictures-->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12"><h3>Pictures:</h3></div>
                                    </div>
                                    <div class="row text-center">
                                        <!--/*@thymesVar id="content" type="ua.kiev.prog.photopond.drive.Content"*/-->
                                        <div th:each="file:${content.getFiles()}" th:remove="tag">
                                            <div class="col-12 col-sm-6 col-md-3 userElementCard">
                                                <div class="card userElement h-100" style="height: 10rem;">
                                                    <!--/*@thymesVar id="userLogin" type="java.lang.String"*/-->
                                                    <img src="#" th:src="@{'/user/{login}/files'+${file.getPath()}(login=${userLogin})}" alt="some picture"
                                                         th:alt="${file.getPath()}" class="contentSrc"
                                                         style="object-fit: contain;height: 100%; width: 100%;"/>
                                                    <!--<div class="caption" th:text="${file.getFilename()}" style="word-wrap: break-word">Filename</div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
<style>
    .selected {
        border: 4px solid #0f0;
    }
</style>

</html>
