<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      lang="en">


<head>
    <title>UserForm - vue.js element</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/photopond.css">
</head>

<body>

<div>
    <move-modal-form inline-template th:fragment="moveModalForm" th:remove="tag">
        <div class="modal fade moveModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-info bg-dark">
                    <div class="modal-header bg-info border-info text-center">
                        <div class="modal-title w-100 font-weight-bold">
                            <h4>
                                <span>{{ customHeader }}</span>
                            </h4>
                            <h5 class="text-left" v-html="makePath(content.current, true)"></h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <transition name="fade" :duration="100" mode="out-in">
                        <div class="md-form mb-3" v-if="isLoaderVisible">
                            <div class="modal-body">
                                <loader-component inline-template th:insert="~{fragments/loader :: loader}"
                                                  key="loader">
                                </loader-component>
                            </div>
                        </div>
                        <div v-else key="data">
                            <div class="modal-body">
                                <h6 class="mb-1" v-show="errorCode">
                                    <alert-item v-cloak inline-template
                                                v-bind:messages="errorMessageObject"
                                                alert-type="danger"
                                                v-on:alert-item-close="closeAlert"
                                                th:insert="~{fragments/alertItem :: alertItem}">
                                    </alert-item>
                                </h6>
                                <div class="md-form">
                                    <div class="mb-3" v-if="message">
                                        <div v-html="message"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="list-group">
                                        <button type="button"
                                                class="list-group-item list-group-item-action bg-light border-primary"
                                                v-for="item in subDirectoriesWithUri"
                                             v-on:click="changeDirectory(item)" v-html="item.nameInHtml">
                                            name
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer border-info justify-content-between">
                                <button class="col-3 btn btn-secondary"
                                        v-on:click="cancel"
                                        v-bind:readonly="isLoaderVisible"
                                        th:text="#{btn.cancel}">
                                    Cancel
                                </button>
                                <button class="col-7 btn btn-success"
                                        v-on:click="confirm"
                                        v-bind:readonly="isLoaderVisible"
                                        th:text="#{btn.confirm}">
                                    Confirm
                                </button>
                            </div>


                        </div>
                    </transition>


                </div>
            </div>
        </div>
    </move-modal-form>
    <div class="text-center">
        <!--<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalUserInfoForm">Launch Modal Register Form</a>-->
    </div>
</div>
<div th:replace="fragments/profiles/activeProfile :: bottomScripts" th:remove="tag">
    <!-- jQuery -->
    <script src="../../../libs/jquery/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../../libs/popper/popper.1.14.3.min.js"></script>
    <script src="../../../libs/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../../libs/vuejs/vue-2.5.16.js"></script>
    <script src="../../../libs/axios/axios.0.18.0.min.js"></script>
</div>

<script>
    $('.moveModalForm').modal('show');
</script>

</body>
</html>