<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head th:replace="fragments/profiles/activeProfile :: head (pageTitle = 'PhotoPond - access denied')">
    <title>PhotoPond - access denied</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/photopond.css">
</head>

<body id="errorPage" class="notFoundPage">

<div th:replace="fragments/header :: header('accessDenied')">Static header</div>



<div class="container-fluid mt-md-2 mt-sm-1" id="errorwrap">
    <div class="row text-center align-items-center justify-content-center">
        <div class="col-12 mt-5">
            <h1 class="accessDeniedTitle">ACCESS DENIED</h1>
        </div>
    </div>
    <div class="row mt-5">
        <!--/*@thymesVar id="login" type="java.lang.String"*/-->
        <div class="col-12 mt-5" th:if="${login}">
            <div class="row">
                <div class="col-1"><h5>Login:</h5></div>
                <div class="offset-1 col-10"><h5 class="break-word-wrap" th:text="${login}">userLogin</h5></div>
            </div>
        </div>
        <!--/*@thymesVar id="url" type="java.lang.String"*/-->
        <div class="col-12 mt-2" th:if="${url}">
            <div class="row">
                <div class="col-1"><h5>URL:</h5></div>
                <div class="offset-1 col-10 height-vw-2"><h5 class="break-word-wrap" th:text="${url}">http://someUrl</h5></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer" th:remove="tag"></div>

<div th:replace="fragments/profiles/activeProfile :: bottomScripts" th:remove="tag">
    <!-- jQuery -->
    <script src="../../../libs/jquery/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../../libs/popper/popper.1.14.3.min.js"></script>
    <script src="../../../libs/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../../libs/vuejs/vue-2.5.16.js"></script>
</div>

</body>
</html>