<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:fragment="head (pageTitle)" th:replace="${@environment.acceptsProfiles('prod')}?
        ~{fragments/profiles/production :: head (pageTitle=${pageTitle})} :
        ~{fragments/profiles/development :: head (pageTitle=${pageTitle})}"
        >
</head>
<body>
<div th:fragment="bottomScripts" th:replace="${@environment.acceptsProfiles('prod')}?
        ~{fragments/profiles/production :: bottomScripts} :
        ~{fragments/profiles/development :: bottomScripts}" th:remove="tag">
</div>
</body>
</html>