/*
        Use this file to quickly apply css-styles in development mode.
        Later all styles must be moved to a scss-file.
*/

.img-shadow {
    position: relative;
    max-width: 100%;
    float: left;
    display: inline-block;
}

.img-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0px 0px 100px 0px rgba(27, 85, 96, 1);
    -moz-box-shadow: inset 0px 0px 100px 0px rgba(27, 85, 96, 1);
    box-shadow: inset 0px 0px 100px 0px rgba(27, 85, 96, 1);
}

.img-shadow img {
    float: left;
}