<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head th:replace="~{fragments/profiles/activeProfile :: head (pageTitle = 'PhotoPond - error')}">
    <title>PhotoPond - error</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/photopond.css">
</head>

<body id="errorPage" class="commonErrorPage">

<div th:replace="~{fragments/header :: headerWithCustomUrl('errorPage', ${url} )}">Static header</div>

<div class="container-fluid mt-md-2 mt-sm-1" id="errorwrap">
    <div class="row text-center align-items-center justify-content-center">
        <div class="col-12 col-sm-7" th:if="${status}">
            <h1 th:text="${status}">status-code</h1>
        </div>
        <div class="col" th:if="${error}">
            <h2>Error</h2>
            <h3 th:text="'('+${error}+')'">error ...</h3>
            <h5 th:if="${timestamp}"><b>Occurred:</b> <span th:text="${#dates.format(timestamp, #messages.msg('date.format'))}">Timestamp</span></h5>
        </div>

    </div>
    <div class="row mt-5">
        <!--/*@thymesVar id="url" type="java.lang.String"*/-->
        <div class="col-12 mt-2" th:if="${url}">
            <div class="row">
                <div class="col-1"><h5>URL:</h5></div>
                <div class="offset-1 col-10 height-vw-2"><h5 class="break-word-wrap" th:text="${url}">http://someUrl</h5></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}" th:remove="tag"></div>

<!--
  // Hidden Exception Details  - this is not a recommendation, but here is
  // how you hide an exception in the page using Thymeleaf
  -->
<div th:utext="'&lt;!--'" th:remove="tag"></div>
<div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
<div th:utext="'Trace: ' + ${trace}" th:remove="tag">${trace}</div>

<div th:utext="'--&gt;'" th:remove="tag"></div>

<div th:replace="~{fragments/profiles/activeProfile :: bottomScripts}" th:remove="tag">
    <!-- jQuery -->
    <script src="../../../libs/jquery/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../../libs/popper/popper.1.14.3.min.js"></script>
    <script src="../../../libs/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../../libs/vuejs/vue-2.5.16.js"></script>
</div>

</body>
</html>