<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head th:replace="fragments/profiles/activeProfile :: head (pageTitle = 'PhotoPond - settings')">
    <title>PhotoPond - settings</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS with custom styles -->
    <link rel="stylesheet" href="../../../css/skins/skin.css">
</head>

<body>

<div th:replace="fragments/header :: header('settings')">Static header</div>

<div class="container-fluid" id="settings" v-cloak>
    <div class="row text-center px-0">
        <div class="col-md-8 offset-md-2 col-12">
            <h1 class="font-weight-bold">SETTINGS</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-10 col-12 offset-md-2 offset-sm-1 mb-1">
            <change-password-card inline-template
                                  id="changePasswordCard"
                                  th:insert="~{settings/changePassword :: changePasswordCard}">
            </change-password-card>
        </div>
        <div class="col-md-8 col-sm-10 col-12 offset-md-2 offset-sm-1">
            <change-avatar-card inline-template
                                  id="changeAvatarCard"
                                  th:insert="~{settings/changeAvatar :: changeAvatarCard}">
            </change-avatar-card>
        </div>
    </div>
</div>

<div th:replace="fragments/profiles/activeProfile :: bottomScripts" th:remove="tag">
    <!-- jQuery -->
    <script src="../../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../../libs/vuejs/vue-2.5.16.js"></script>
</div>

<script src="../../../js/main.js"
        th:src="@{/js/main.js}"></script>
<script src="../../../js/settings/changePasswordCard.js"
        th:src="@{/js/settings/changePasswordCard.js}"></script>
<script src="../../../js/settings/changeAvatarCard.js"
        th:src="@{/js/settings/changeAvatarCard.js}"></script>
<script src="../../../js/alertItem.js"
        th:src="@{/js/alertItem.js}"></script>
<script src="../../../js/settings/settings.js"
        th:src="@{/js/settings/settings.js}"></script>
</body>
</html>