<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      lang="en">


<head th:replace="~{fragments/profiles/activeProfile :: head (pageTitle = 'PhotoPond - change password card')}">
    <title>PhotoPond - change password card (Vue.js component)</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS with custom styles -->
    <link rel="stylesheet" href="../../static/css/photopond.css">
</head>

<body>

<div th:replace="~{fragments/header :: header('settings')}">Static header</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-10 col-12 offset-md-2 offset-sm-1">
            <change-password-card inline-template
                                  th:fragment="changePasswordCard" th:remove="tag">
                <div class="card bg-dark border-primary">
                    <div class="card-body">
                        <transition name="fade" mode="out-in">
                            <loader-component inline-template th:insert="~{fragments/loader :: loader}"
                                              v-if="showLoader" key="changePasswordLoader">
                            </loader-component>
                            <div class="form" v-else key="inputs">
                                <alert-item v-cloak inline-template
                                            v-bind:messages="alert.messages"
                                            v-bind:alert-type="alert.type"
                                            v-on:alert-item-close="closeAlert"
                                            th:insert="~{fragments/alertItem :: alertItem}">
                                </alert-item>
                                <password-input-control inline-template
                                                        th:attr="label=#{user.oldPassword}"
                                                        v-model:value="inputs.oldPassword.value"
                                                        v-bind:error-msg="inputs.oldPassword.errorMsg"
                                                        v-bind:name="'oldPassword'"
                                                        v-on:alert-item-close="closeInputAlert"
                                                        th:insert="~{settings/passwordInputControl :: passwordInput}">
                                </password-input-control>
                                <password-input-control inline-template
                                                        th:attr="label=#{user.password}"
                                                        v-model:value="inputs.password.value"
                                                        v-bind:error-msg="inputs.password.errorMsg"
                                                        v-bind:name="'password'"
                                                        v-on:alert-item-close="closeInputAlert"
                                                        th:insert="~{settings/passwordInputControl :: passwordInput}">
                                </password-input-control>
                                <password-input-control inline-template
                                                        th:attr="label=#{user.passwordConfirmation}"
                                                        v-model:value="inputs.passwordConfirmation.value"
                                                        v-bind:error-msg="inputs.passwordConfirmation.errorMsg"
                                                        v-bind:name="'passwordConfirmation'"
                                                        v-on:alert-item-close="closeInputAlert"
                                                        th:insert="~{settings/passwordInputControl :: passwordInput}">
                                </password-input-control>
                            </div>
                        </transition>
                    </div>
                    <div class="card-footer border-primary">
                        <div class="row">
                            <div class="col-6 offset-6">
                                <button class="btn btn-success w-100" v-bind:class="{'disabled': isChangeNotAllowed}"
                                        v-on:click="change"
                                        th:text="#{btn.change}">
                                    Change
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </change-password-card>
        </div>
    </div>
</div>

<div th:replace="~{fragments/profiles/activeProfile :: bottomScripts}" th:remove="tag">
    <!-- jQuery -->
    <script src="../../static/libs/jquery/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../static/libs/popper/popper.1.14.3.min.js"></script>
    <script src="../../static/libs/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../static/libs/vuejs/vue-2.5.16.js"></script>
</div>

<script src="../../static/js/alertItem.js" th:src="@{/js/alertItem.js}"></script>
<script src="../../static/js/settings/passwordInputControl.js" th:src="@{/js/settings/passwordInputControl.js}"></script>

</body>
</html>