<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      lang="en">


<head th:replace="~{fragments/profiles/activeProfile :: head (pageTitle = 'PhotoPond - change password card')}">
    <title>PhotoPond - change password card (Vue.js component)</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS with custom styles -->
    <link rel="stylesheet" href="../../static/css/photopond.css">
</head>

<body>

<div th:replace="~{fragments/header :: header('settings')}">Static header</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-10 col-12 offset-md-2 offset-sm-1">
            <change-avatar-card inline-template
                                th:fragment="changeAvatarCard" th:remove="tag">
                <div class="card bg-dark border-primary">
                    <div class="card-body">
                        <transition name="fade" mode="out-in">
                            <loader-component inline-template th:insert="~{fragments/loader :: loader}"
                                              v-if="showLoader" key="changeAvatarLoader">
                            </loader-component>
                            <div class="form" v-else key="inputs">
                                <alert-item v-cloak inline-template
                                            v-bind:messages="alert.messages"
                                            v-bind:alert-type="alert.type"
                                            v-on:alert-item-close="closeAlert"
                                            th:insert="~{fragments/alertItem :: alertItem}">
                                </alert-item>
                                <div class="form-group mb-0">
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <div class="col-10 col-md-8 col-xl-7">
                                            <div class="row d-flex justify-content-center align-items-center">
                                                <div class="col-12 text-center">
                                                    <h2>
                                                        <label v-if="hasOldData"
                                                               th:text="#{pages.settings.changeAvatar.title}">Current avatar
                                                        </label>
                                                        <label v-else
                                                               th:text="#{pages.settings.changeAvatar.preview}">Preview
                                                        </label>
                                                    </h2>
                                                </div>

                                                <div class="col-12 height-vw-8 height-vw-md-6 height-vw-xl-5">
                                                    <img class="form-control img-contain border-primary" v-if="hasOldData"
                                                         th:src="@{/public/user/{login}/avatar(login=${#authentication.name})}" src="#">
                                                    <img class="form-control img-contain" v-else
                                                         v-bind:src="imageData" src="#">
                                                </div>

                                                <div class="col-12 mt-1">
                                                    <button class="btn btn-sm btn-block btn-outline-info" v-on:click="onChoosePic"
                                                            th:text="#{pages.settings.changeAvatar.choose}">Choose pic
                                                    </button>
                                                </div>

                                                <input type="file" class="d-none"
                                                       placeholder="choose avatar picture" id="avatarImg" name="avatarImg" ref="avatarImg"
                                                       v-on:change="previewImage">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                    <div class="card-footer border-primary">
                        <div class="row justify-content-between">
                            <div class="col-12 col-sm-5 col-md-4 mb-1 mb-sm-0">
                                <button class="btn btn-danger w-100" v-bind:class="{'disabled': showLoader}"
                                        v-on:click="deleteAvatar"
                                        th:text="#{btn.delete}">
                                    Delete
                                </button>
                            </div>
                            <div class="col-12 col-sm-7 col-md-8">
                                <button class="btn btn-success w-100" v-bind:class="{'disabled': hasOldData || showLoader}"
                                        id="changeAvatar"
                                        th:attr="data-change-avatar-url=@{/user/{login}/settings/avatar(login=${#authentication.name})}"
                                        v-on:click="updateAvatar"
                                        th:text="#{btn.change}">
                                    Change
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </change-avatar-card>
        </div>
    </div>
</div>

<div th:replace="~{fragments/profiles/activeProfile :: bottomScripts}" th:remove="tag">
    <!-- jQuery -->
    <script src="../../static/libs/jquery/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../static/libs/popper/popper.1.14.3.min.js"></script>
    <script src="../../static/libs/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../static/libs/vuejs/vue-2.5.16.js"></script>
</div>

<script src="../../static/js/alertItem.js" th:src="@{/js/alertItem.js}"></script>

</body>
</html>