<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script th:src="@{/libs/jquery/jquery-3.2.1.min.js}"></script>

    <!-- Bootstrap CSS -->
    <script th:src="@{/libs/bootstrap/tether-1.3.3/js/tether.min.js}"></script>
    <link rel="stylesheet" th:href="@{/libs/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/libs/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/skins/default-skin.min.css}">
</head>
<body>
<div th:fragment="header">
    <div class="navbar  navbar-toggleable navbar-inverse fixed-top">
        <a class="navbar-brand" href="#">&nbsp;
            <span class="logo">
				<span class="capitalLetter"><i>P</i></span>
				<span class="photo"><i>hoto</i></span>
				<span class="pond"><i>ond</i></span>

			</span>

        </a>


        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end text-center" id="navbarSupportedContent">
            <!--/*@thymesVar id="userLogin" type="java.lang.String"*/-->
            <ul class="nav navbar-nav" th:with="isAuthorized = ${userLogin} == null">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:text="#{header.home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{header.about}">About</a>
                </li>


                <li class="nav-item " th:if="${isAuthorized}">
                    <a class="btn bnt-primary btn-block my-1" href="#" th:href="@{/login}" style="font-size:1em; font-style:inherit;" th:text="#{header.login}">
                        Log In
                    </a>
                </li>
                <li class="nav-item " th:unless="${isAuthorized}">
                    <a class="btn bnt-primary btn-block my-1" href="#" th:href="@{/logout}" style="font-size:1em; font-style:inherit;">
                        Log out
                    </a>
                </li>
                <li class="nav-item " th:unless="${isAuthorized}">
                    <a class="nav-link" href="#" th:text="${userLogin}">SomeLogin</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pr-0" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="fa fa-language"></i>
                        <div th:text="#{header.language}">Eng</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right inverse-dropdown text-center"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" th:href="@{__${#httpServletRequest.requestURI}__(lang='uk')}" th:text="#{header.ukr}">Ukr</a>
                        <a class="dropdown-item" href="#" th:href="@{__${#httpServletRequest.requestURI}__(lang='ru')}" th:text="#{header.rus}">Rus</a>
                        <a class="dropdown-item" href="#" th:href="@{__${#httpServletRequest.requestURI}__(lang='en')}" th:text="#{header.eng}">Eng</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>


</div>


</body>
</html>