<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head
        th:replace=" fragments/profiles/activeProfile :: head (pageTitle = 'Administration: all users')"
>
    <title>PhotoPond - authorization</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="../../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <script src="../../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.min.css">
    <script src="../../../libs/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../../css/skins/default-skin.min.css">
</head>

<body>

<object th:include="fragments/header :: header" th:remove="tag"></object>
<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
            <tr class="d-flex">
                <th class="col-1">#</th>
                <th class="col-4">Login</th>
                <th class="col-4">Password</th>
                <th class="col-2">Roles</th>
                <th class="col-1">Action</th>
            </tr>
            </thead>
            <!--/*@thymesVar id="usersList" type="java.util.List<ua.kiev.prog.photopond.user.UserInfo>"*/-->
            <tbody th:each="user, iterStat : ${usersList}">
            <tr class="d-flex">
                <td class="col-1" th:text="${iterStat.index+1}">#</td>
                <td class="col-4" th:text="${user.login}" th:object="${user.login}">Password</td>
                <td class="col-4" th:text="${user.password}" th:object="${user.password}">Password</td>
                <td class="col-2" th:text="${user.getRole().name()}">Role</td>
                <td class="col-1">
                    <a href="#" th:href="@{/administration/user/{id}(id=${user.id})}" method="DELETE">Del</a>
                    <input type="submit" hidden>
                </td>
            </tr>
            </tbody>
        </table>


    </div>


</div>

<div th:replace="fragments/profiles/activeProfile :: bottomScripts" th:remove="tag">
    <!-- jQuery -->
    <script src="../../../libs/jquery/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../../libs/bootstrap/tether-1.3.3/js/tether.min.js"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../../libs/vuejs/vue-2.5.16.js"></script>
</div>

</body>
</html>