<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head
        th:replace="~{fragments/profiles/activeProfile :: head (pageTitle = #{admin.allUsers.title})}"
>
    <title>PhotoPond - authorization</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <title>PhotoPond - main page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/photopond.css"></head>
</head>

<body>

<object th:include="~{fragments/header :: header('allUsers')}" th:remove="tag"></object>
<div id="usersApp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12 text-center">
                <h2 th:text="#{admin.allUsers.tableCaption}">All users information</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <transition name="fade" mode="out-in">

                    <loader-component inline-template th:insert="~{fragments/loader :: loader}"
                                      v-if="showLoader" key="tableLoader">
                    </loader-component>

                    <div v-else key="table">
                        <users-table v-cloak inline-template
                                     v-bind:users-list="filteredData"
                                     v-on:delete-user="onDelete"
                                     v-on:edit-user="editUser">
                            <div th:insert="~{users/tableAllUsers :: tableAllUsers}"></div>
                        </users-table>
                        <text-filter v-cloak inline-template
                                     v-model="filterTemplate">
                            <div th:insert="~{fragments/filter :: textFilter}">

                            </div>
                        </text-filter>
                    </div>
                </transition>
                <user-modal-form inline-template
                                 v-bind:user="editedUser"
                                 th:attr="error-message=#{admin.allUsers.editing.error}"
                                 v-on:done-edit="doneEdit">
                    <div th:insert="~{users/userForm :: modalForm}"></div>
                </user-modal-form>
                <confirm-modal-form inline-template
                                    th:attr=" custom-header=#{admin.allUsers.deleting.title},
                                    error-message=#{admin.allUsers.deleting.error}"
                                    v-bind:message="message"
                                    v-bind:error-code="errorCode"
                                    v-bind:value="editedUser"
                                    v-on:clear-error-code="errorCode = ''"
                                    v-on:confirm="onDeleteConfirm">
                    <div th:insert="~{fragments/confirmModalForm :: confirmModalForm}"></div>
                </confirm-modal-form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/profiles/activeProfile :: bottomScripts}" th:remove="tag">
    <!-- jQuery -->
    <script src="../../../libs/jquery/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../../libs/popper/popper.1.14.3.min.js"></script>
    <script src="../../../libs/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="../../../libs/vuejs/vue-2.5.16.js"></script>
    <script src="../../../libs/axios/axios.0.18.0.min.js"></script>
    <script src="../../../libs/lodash/lodash.4.17.10.min.js"></script>
</div>

<script src="../../../js/main.js" th:src="@{/js/main.js}"></script>
<script src="../../../js/users/tableAllUsers.js" th:src="@{/js/users/tableAllUsers.js}"></script>
<script src="../../../js/users/userForm.js" th:src="@{/js/users/userForm.js}"></script>
<script src="../../../js/textFilter.js" th:src="@{/js/textFilter.js}"></script>
<script src="../../../js/alertItem.js" th:src="@{/js/alertItem.js}"></script>
<script src="../../../js/confirmModalForm.js" th:src="@{/js/confirmModalForm.js}"></script>
<script src="../../../js/users/allUsers.js" th:src="@{/js/users/allUsers.js}"></script>
</body>
</html>